{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="sticky-container">
    {% include 'partials/_navbar.html' %}
</div> 
{% include 'partials/_messages.html' %}

<div class="row pt-5 ps-0 pe-0 m-0">
    <h5 class="mt-5 mb-3" style="text-align: center; font-weight: bold">Detail Produk</h5>
</div>

<div class="detail-container">

    <div class="d-flex gap-2 justify-content-center mb-4">
        <a href="https://storage.googleapis.com/tieksfashion-productstock/asia-southeast2/{{stock.product_image}}" 
        class="product-image-container">
            <img class="product-image" src="https://storage.googleapis.com/tieksfashion-productstock/asia-southeast2/{{stock.product_image}}" alt="{{stock.product_name}}">
        </a>
    </div>

    <div class="list-group list-group-flush w-auto">
        <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <div class="d-flex gap-2 w-100 detail-row">
                <div class="detail-text">
                    <h6 class="mb-0 fw-bold">Kode</h6>
                    <p class="mb-0 opacity-75">{{stock.code}}</p>
                </div>
                <small class="opacity-50 text-nowrap"></small>
            </div>
        </div>
        <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <div class="d-flex gap-2 w-100 detail-row">
                <div class="detail-text">
                    <h6 class="mb-0 fw-bold">Nama Produk</h6>
                    <p class="mb-0 opacity-75">{{stock.product_name}}</p>
                </div>
                <small class="opacity-50 text-nowrap"></small>
            </div>
        </div>
        <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <div class="d-flex gap-2 w-100 detail-row">
                <div class="detail-text">
                    <h6 class="mb-0 fw-bold">Deskripsi</h6>
                    {% if stock.description == "" %}
                        <p class="mb-0 text-danger">Tidak Ada Deskripsi</p>
                    {% else %}
                        <p class="mb-0 opacity-75">{{stock.description}}</p>
                    {% endif %}
                </div>
                <small class="opacity-50 text-nowrap"></small>
            </div>
        </div>
        <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <div class="d-flex gap-2 w-100 detail-row">
                <div class="detail-text">
                    <h6 class="mb-0 fw-bold">Harga</h6>
                    {% if stock.product_price == 1000 %}
                        <p class="mb-0 text-danger">Tidak Ada Harga</p>
                    {% else %}
                        <p class="mb-0 opacity-75">IDR {{stock.product_price}}</p>
                    {% endif %}
                    
                </div>
                <small class="opacity-50 text-nowrap"></small>
            </div>
        </div>

        {% if stock.stock_S > 0 or stock.stock_M > 0 or stock.stock_L > 0 and stock.stock == 0 %}
            <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                <div class="d-flex gap-2 w-100 detail-row">
                    <div class="detail-text">
                        <h6 class="mb-1 fw-bold">Stock</h6>
                        <p class="m-0">Size S/M : <span class="mb-0 opacity-75">{{stock.stock_S}}</span></p>
                        <p class="m-0">Size M/L : <span class="mb-0 opacity-75">{{stock.stock_M}}</span></p>
                        <p class="m-0">Size L/XL : <span class="mb-0 opacity-75">{{stock.stock_L}}</span></p>
                    </div>
                    <small class="opacity-50 text-nowrap"></small>
                </div>
            </div>
        {% elif stock.stock > 1 %}
            <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                <div class="d-flex gap-2 w-100 detail-row">
                    <div class="detail-text">
                        <h6 class="mb-1 fw-bold">Stock</h6>
                        <p class="mb-0 opacity-75">{{stock.stock}}</p>
                    </div>
                    <small class="opacity-50 text-nowrap"></small>
                </div>
            </div>
        {% endif %}

        <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <div class="d-flex gap-2 w-100 detail-row">
                <div class="detail-text">
                    <h6 class="mb-0 fw-bold mb-1">Tanggal Pengadaan</h6>
                    <p class="mb-0 opacity-75">{{stock.dateadded}}</p>
                </div>
                <small class="opacity-50 text-nowrap"></small>
            </div>
        </div>
        <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <div class="d-flex gap-2 w-100 detail-row">
                <div class="detail-text">
                    <h6 class="mb-0 fw-bold mb-1">Tanggal Diperbaharui</h6>
                    <p class="mb-0 opacity-75">{{stock.dateupdated}}</p>
                </div>
                <small class="opacity-50 text-nowrap"></small>
            </div>
        </div>
    </div> 

</div>

<div class="mt-3 d-flex justify-content-center">
    <a href="{% url 'edit-stock' stock.id %}" class="btn btn-md btn-dark w-auto xpadd me-5">Ubah Detail Produk</a>
    <button type="button" class="btn btn-md btn-danger w-auto xpadd" data-bs-toggle="modal" data-bs-target="#exampleModal">Hapus Produk</button>
</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="exampleModalLabel">Konfirmasi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Apakah Anda yakin ingin menghapus produk ini?
            </div>
            <div class="modal-footer">
                <a href="{% url 'delete-stock' stock.id %}" class="btn btn-danger xpadd confirmation-button">Ya</a>
                <button type="button" class="btn btn-dark xpadd confirmation-button" data-bs-dismiss="modal">Tidak</button>
            </div>
        </div>
    </div>
</div>

<div class="sticky-container">
    {% include 'partials/_footer.html' %}
</div> 
<br>
{% endblock content %}